body {
    color: $black;
    font-family: $font-family;
    font-weight: $regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $bold;
}

p {
    font-weight: $regular;
    line-height: 1.5;
}

img {
    width: 100%;
}

.btn {
    border: 1px solid $black;
    padding: $spacing-sm $base-padding;
    color: $white;
    text-decoration: none;
    background: $black;
    transition: all 0.2s ease 0s;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;

    &:focus {
        outline: none;
    }

    &:hover {
        background: $black-medium;
        border-color: $black-medium;
    }

    &.btn--arrow {
        &:after {
            content: ' >';
        }
    } 
}

.input {
    border: 1px solid black;
    padding: $spacing-sm;

    &:focus {
        outline: none;
        border-color: $black-medium;
    }
}