body {
    color: $black;
    font-family: $font-family;
    font-weight: $regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $bold;
}

p {
    font-weight: $regular;
    line-height: 1.5;
}

img {
    width: 100%;
}