.landing-hero {
    display: flex;
    align-items: center;
    margin-bottom: $margin-bottom;

    @media (max-width: $tablet-width) {
        flex-direction: column-reverse;
    }
    
    .landing-hero__half {
        flex: 1;

        &.left {
            padding-right: $base-padding;
            
            @media (max-width: $tablet-width) {
                padding: 0;
            }
        }

        &.right {
            padding-left: $base-padding; 

            @media (max-width: $tablet-width) {
                padding: 0;
                margin-bottom: 48px;
            }
        }

    }

    .landing-hero__title {
        font-size: 65px;
        font-weight: 300;
        margin: 0 0 20px 0;

        @media (max-width: 1140px) {
            font-size: 48px;
        }

        @media (max-width: 800px) {
            font-size: 36px;
        }
    }

    .landing-hero__subtitle {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
}

.intro {
    text-align: center;
    max-width: 750px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: $margin-bottom;

    .intro__logo {
        width: 40px;
        margin-bottom: 26px;
    }

    .intro__title {
        font-size: 32px;
        margin: 0 0 20px 0;
    }

    .intro__body {
        font-size: 24px;
        margin: 0;

        @media (max-width: $tablet-width) {
            font-size: 20px;
        }
    }
}

.landing-header {
    padding: 25vh $base-padding;
    text-align: center;
    background: $black;
    color: $white;
    max-width: inherit;
    margin-bottom: $margin-bottom;

    .landing-header__logo {
        width: 120px;
        margin-bottom: $spacing-xl;
    }

    .landing-header__heading{
        margin: 0 0 $spacing;
        font-size: 3em;
        font-weight: $bold;
    }

    .landing-header__subheading {
        font-weight: $regular;
        margin: 0;
        font-size: 1.8em;
    }

    @media (max-width: $mobile-width) {
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: $margin-bottom-mobile;

        .landing-header__logo {
            width: 80px
        }

        .landing-header__heading{
            font-size: 2em;
        }

        .landing-header__subheading {
            font-size: 1.3em;
        }
    }
}

.content {
    margin-bottom: $margin-bottom;

    .content__image {
        padding-right: 24px;

        &.content__image--right {
            padding-left: 24px;
            padding-right: 0;
        }
    }

    .content__text {
        padding-left: 24px;

        &.context__text--left {
            padding-right: 24px;
            padding-left: 0;
        }

        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1.3em;
        }
    }

    @media (max-width: $mobile-width) {
        margin-bottom: $margin-bottom-mobile; 

        .content__image {
            padding-right: 0;
        }
    
        .content__text {
            padding-left: 0;
        }
    }
}

.centered-content {
    margin-bottom: $margin-bottom;
    text-align: center;
    max-width: 750px;

    .centered-content__title {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .centered-content__body {
        font-size: 1.3em;
        margin-bottom: 30px;
    }

    &.centered-content--title-only {
        margin-bottom: 150px;

        @media (max-width: $mobile-width) {
            margin-bottom: $margin-bottom-mobile; 
        }
    }
}

.email-grab {
    text-align: center;
    margin-bottom: $margin-bottom;

    .email-grab__subtitle {
        font-size: 1.5em;
        font-weight: $bold;
        margin-bottom: $spacing-xl;
    }

    .email-grab__cta {
        font-size: 2.5em;
    }

    @media (max-width: $mobile-width) {
        margin-bottom: $margin-bottom-mobile; 
    }
}

.input-form {
    margin-bottom: $spacing-xl;
    .input {
        width: 380px;
        max-width: 100%;
        font-weight: $regular;
    }

    @media (max-width: $mobile-width) {
        .input {
            width: 100%;
            margin-bottom: $spacing-sm;
        }

        input[type=submit] {
            width: 100%;
        }
    }
}

.carousel {
    margin-bottom: $margin-bottom;
    width: 100%;
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 24px;

    @media (max-width: $mobile-width) {
        margin-bottom: $margin-bottom-mobile;
    }

    .carousel__wrapper {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        transform: translateX(0);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        @media (max-width: $container-width) {
            transform: translateX(-25%);
        }

        @media (max-width: $mobile-width) {
            transform: translateX(-40%);
        }
    }

    .carousel__image {
        flex: 1 0 calc(33.33333% - 64px);
        align-self: center;
        margin-right: $spacing-lg;
        margin-left: $spacing-lg;
        position: relative;
        cursor: pointer;
        transform: scale(.9);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        @media (max-width: $container-width) {
            flex-basis: 50%;
            margin: 0;
        }

        @media (max-width: $mobile-width) {
            flex-basis: 60%;
        }


        &:after {
            content: "";
            position: absolute;
            width: 100%; height:100%;
            top:0; left:0;
            background:rgba(0,0,0,0.5);
            transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            -webkit-transition: all .5s;
        }

        &:hover:after {
            opacity: 0;
        }

        &.center  {
            transform: scale(1);
            &:after {
                opacity: 0;
            }
        }
    }
}

.shake {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

.mailchimp-response {
    margin-top: 24px;
}

.mce_inline_error {
    border-color: $red !important;
}

.image-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
    display: flex;
    
    img {
        align-self: center;
    }

    @media (max-width: $mobile-width) {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        margin-bottom: $margin-bottom-mobile;
    }
}

.features {
    margin-bottom: $margin-bottom;
    
    .features__title {
        font-size: 2em;
        font-weight: 300;
        margin-bottom: 24px;
    }
}

.feature {
    @media (max-width: $mobile-width) {
        margin-bottom: $spacing-xl !important;
    }

    .feature__image {
        margin-bottom: 1em;
    }

    .feature__title {
        font-size: 1.3em;
        margin-bottom: 6px;
        margin-top: 6px;
    }

    .feature__description {
        font-size: 1.1em;
        margin-top: 0;
    }
}

.design {
    margin-bottom: $margin-bottom;

    .design__img {
        margin-bottom: 32px;
    }

    .design__content {
        max-width: 750px;
        margin: 0 auto;
    }

    .design__title {
        font-size: 1.8em;
        margin: 0 0 12px 0;
    }

    .design__body {
        font-size: 1.2em;
        margin: 0;
    }
}