.landing-header {
    height: 80vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .landing-header__logo {

        width: 80px;
    }
    .landing-header__heading {

    }
    .landing-header__subheading {

    }
}