// colors
$black: #181818;
$black-medium: lighten($black, 15%);
$black-light: lighten($black, 30%);
$white: #fff;
$red: #bb0000;

// typography
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
$font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 16px;
$regular: 300;
$bold: 400;

// spacing
$spacing-sm: 12px;
$spacing: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-lg-2x: 64px;
$base-padding: $spacing;
$container-padding: 0 50px;

$margin-bottom: 200px;
$margin-bottom-mobile: 100px;

// screen sizes
$container-width: 1390px;
$tablet-width: 768px;
$mobile-width: 480px;
