// colors
$black: #111;
$black-medium: lighten($black, 15%);
$black-light: lighten($black, 30%);
$white: #fff;
$red: #bb0000;

// typography
@import url('https://fonts.googleapis.com/css?family=Krub:300,400,500');
$font-family: 'Krub', sans-serif;
$regular: 300;
$semi-bold: 400;
$bold: 500;

// spacing
$spacing-sm: 12px;
$spacing: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$base-padding: $spacing;

// screen sizes
$container-width: 920px;
$mobile-width: 768px;
